.grid {
  display: grid;
  grid-template-columns: [wrapper-start] 1fr [wrapper-center] 1fr [wrapper-end];
  grid-template-rows: minmax(100vh, min-content);
}

.wrapper {
  display: grid;
  grid-template-rows: min-content;
  align-content: center;

  &--left {
    grid-column: wrapper-start / wrapper-center;
    background-color: $color-primary;

    grid-template-columns:
      1fr [container-start] minmax(42rem, 90%)
      [container-end];

    padding: 5% 0;
  }
  &--right {
    grid-column: wrapper-center / wrapper-end;
    background-color: $color-dark;

    grid-template-columns: [container-start] minmax(42rem, 90%) [container-end] 1fr;

    padding: 5% 0;
  }
}
