.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & label {
    color: $color-light;
    align-self: flex-start;
    margin-left: 2rem;
  }

  & input {
    margin-bottom: 2rem;
    width: 28rem;
    height: 3.5rem;

    border-radius: 100px;

    padding-left: 2rem;

    outline: none;
  }

  & > div {
    position: relative;
  }

  & .error-message {
    position: absolute;
    top: 3.5rem;
    left: 2rem;

    font-size: 1.2rem;
    color: $color-light;
  }

  & button {
    margin-top: 4rem;
  }
}
