// $color-primary: #ac1818;
$color-primary: #720e07;
$color-secondary: #eeda3b;
$color-tertiary: #a3b40e;
$color-dark: #292c3f;
$color-light: #dfe0ce;

// 300, 400, 400i, 700
$font-text: "Work Sans", sans-serif;
// 400, 700
$font-display: "Crimson Text", serif;
